.container {
    height: 400px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    align-items: center;
}

.message {
    height:40px;
    width: 80%;
    border: 1px solid black;
}