#main-header{background-color:lightblue}
.title{font-size: 30px;
color:darkblue}
#navbar{background-color: darkgray;
    }

a {color:inherit;
color:white;}

li{padding:5px}

#section-title{font-weight:bold}

h2{font-weight:2500;
text-align:center;}

.section-content {font-size:1.1rem;
color:darkblue}

.project {border:2px black solid;
padding:3px;
margin:5px}

.contact-button {background-color:darkblue;
color:white;
padding:3px;
display:block;
margin:auto}